<ol class="breadcrumb">
  <li class="active"><%= t @model %></li>
  <div class="pull-right">
    <a href="<%= model_path %>.json" target="_blank"><%= t :export_json %></a>
    &nbsp;&nbsp;&nbsp;
    <a href="<%= model_path %>.xlsx"><%= t :export_xlsx %></a>
    <% if @resources.new.writable? current_user %>
    &nbsp;&nbsp;&nbsp;
    <a href="<%= model_path "new" %>">+ <%= t :new %></a>
    <% end %>
  </div>
</ol>
<% if session[:flash] %>
  <div class="alert alert-success"><%= h session[:flash] %></div>
  <% session.delete(:flash) %>
<% end %>
<table class="table">
<thead>
  <tr>
    <% @columns.each do |field| %>
    <th><%= t field %></th>
    <% end %>
    <th style="width: 150px;"><%= t :actions %></th>
  </tr>
</thead>
<tbody>
  <% @resources.each do |resource| %>
  <tr>
    <% @columns.each do |field| %>
      <td><%= present(resource, field) %></td>
    <% end %>
    <td>
      <a class="label label-primary" href="<%= model_path resource.id %>"><%= t :show %></a>
      <% if resource.writable? current_user %>
      <a class="label label-warning" href="<%= model_path resource.id, "edit" %>"><%= t :edit %></a>
      <% end %>
      <% if resource.deletable? current_user %>
      <a class="label label-danger" href="<%= model_path resource.id, "delete" %>" data-method="post"><%= t :delete %></a>
      <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
