<div class="form-group">
  <label for="<%= field.name %>" class="col-sm-2 control-label"><%= field.options[:display_name] %></label>
  <div class="col-sm-10">
    <input type="text" name="<%= param_name %>" class="form-control" id="<%= field.name %>" placeholder="<%= field.options[:display_name] %>" value="<%= h value %>">
  </div>
</div>
